<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--DB 테이블이름에 언더바 (so_table)  있을 때 카멜 케이스 처리-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


</configuration>



