<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.souvcoffee.userMapper">


    <select id="userList" resultMap="userResultMap" parameterType="User">
    use user;

    SELECT *
    FROM suvUser;
    </select>




    <resultMap id="userResultMap" type="User">
        <id property="uscode" column="us_code"/>
        <result property="usname" column="us_name"/>
        <result property="usid" column="us_id"/>
        <result property="uspw" column="us_pw"/>
        <result property="usgender" column="us_gender"/>
        <result property="usage" column="us_usage"/>
        <result property="usphone" column="us_phone"/>
        <result property="usbirthday" column="us_birthday"/>
        <result property="uspost" column="us_post"/>
        <result property="usaddress" column="us_address"/>
        <result property="usagree" column="us_agree"/>
        <result property="uslevel" column="us_level"/>
        <result property="usbuy" column="us_buy"/>
        <result property="uspoint" column="us_point"/>
        <result property="usreg" column="us_reg"/>
        <result property="uswidr" column="us_widr"/>
    </resultMap>
</mapper>